In [14]:
import pandas as pd
import numpy as np

student_df = pd.read_csv('Students.csv')
student_df.drop_duplicates(inplace=True)
student_df.columns = ['id','name', 'point']

grade_df = pd.read_csv('Grades.csv')
grade_df.drop_duplicates(inplace=True)
grade_df.columns = ['id','name', 'mask']
grade_df.head()

   id  name  mask
0   2    10    19
1   3    20    29
2   4    30    39
3   5    40    49
4   6    50    59